/* Site Styling */
* {
    box-sizing: border-box;
}
  
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    color: initial;
    text-decoration: none;
}

h3 {
    font-size: 14px;
}

.navbar {
    height: 10%;
    margin: auto 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.greenStrip {
    width:100%;
    height:10px;
    background: #8BB18F; 
}

.main {
    height: 90%;
}

/* Components */

.container {
    margin: 0;
    width: 500px;
    height: 300px;
    border: 3px solid #eeeeee;
    border-radius: 7px;
}

.inputField {
    width: 80%;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    border: solid #000000 3px;
}

.inputField--search {
    width: 400px;
    text-align: left;
    padding-left: 5%;
}

.button {
    width: fit-content;
    height: 35px;
    min-width: 100px;
    font-weight: bold;
    text-align: center;
    border-radius: 21px;
    background-color: #8BB18F;
    border: solid #8BB18F;
    color: #ffffff;
}

.button:hover {
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

/* Login Page */

.login-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%
}

.title{
    font-size: 48px;
}

.container--login {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #2C2C2C;
    border-radius: 7px;

}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

/* Register Page */
.container--register {
    margin: 0;
    width: 500px;
    min-height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #2C2C2C;
    border-radius: 7px;

}

.register-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

/* Home Page */

.home-banner {
    width: 100%;
}


/* Recipe Page */
.recipe-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%
}


.pasta-img{ 
    position: absolute;
    width: 421px;
    height: 336px;
    left: 54px;
    top: 134px;

    background: url(pasta_img.png);
    background-size: cover;
}

.fav-button{

    position: absolute;
    width: 40px;
    height: 41px;
    left: 420px;
    top: 407px;

    background: url(heart.png);
    background-size: cover;
    border-radius: 100px;
    border:  black;
    color: #ffffff;
}


.fav-button:hover {
    cursor: pointer;
}

.recipe-background-gradient{
    position: absolute;
    width: 421px;
    height: 84px;
    left: 54px;
    top: 386px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    
}

.pasta-text{

    position: absolute;
    width: 261.39px;
    height: 49.24px;
    left: 77.13px;
    top: 403.38px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}
.recipe-box-cal-text{

    position: absolute;
    width: 192px;
    height: 64px;
    left: 186px;
    top: 406px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}



