{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Home {% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link css -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- Link script -->
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
</head>
<body>
    <div class="top">
        <div class="navbar">
            <a href="{% url 'home' %}"><h1>EASY COOK</h1></a>
            <a href=""><h2>Browse Recipes</h2></a>
            <a href=""><h2>Random Recipes</h2></a>
            <a href="{% url 'create-recipe' %}"><h2>Add Recipes</h2></a>
    
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}"><h2>Profile</h2></a>
                <a href="{% url 'logout' %}"><h2>Logout</h2></a>
            {% else %}
                <a href="{% url 'login' %}"><h2>Login</h2></a>
            {% endif %}
    
            <div class="search">
                <form action="">
                    <input type="text" class="inputField inputField--search" name="search" placeholder="Search" required>
                </form>
            </div>
        </div>
        <div class="greenStrip"></div>
    </div>    
    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>