{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Home {% endblock title %}

<!-- Homepage Content -->
{% block content %}

    <img src="{% static 'images/homepagebg5.jpg' %}" alt="My image" class="home-banner">

    <h1>Featured Recipes</h1>
    <div class="greenStrip"></div>

    <div class="featured">
        {% for recipe in recipes %}
            {% with name=recipe.name calories=recipe.calories recipe_id=recipe.id %}
                {% include "components/recipe-card.html"  %}
            {% endwith %}
        {% endfor %}
    </div>

{% endblock content %}