{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Profile {% endblock title %}

<!-- Profile Content -->
{% block content %}

<div class="profile-page">
    <div class="profile-left">
        <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img">
        
        <h1 class="profile-name">Name:
            {% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}
            {% endif %}
        </h1>

        <div class="profile-info">
            <h2>Username: {{ user }}</h1>
            <h2>Bio: {{ user.bio }}</h1>
            <h2>Location: {{ user.location }}</h2>
            <h2>Joined on: {{ user.date_joined|date:"M dS, Y"}}</h4>
            <button class="button" type="submit"><a href="{% url 'edit-profile' %}" class="button">Edit Profile</a></button>
            
        </div>
    </div>
    <div class="profile-right">
        <div class="profile-extras">
            <div class="profile-favorites">
                <h8 class="profile-titles">Favourite Recipes</h7>
            </div>
            <div class="profile-my-recipes">
                <h8 class="profile-titles">My Recipes</h8>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
