{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Recipe {% endblock title %}

<!-- Recipe Content -->
{% block content %}

<div class="recipe--page">
    <div class="recipe-left">
        {% with name=recipe_title %}
            {% include "components/recipe-card.html"  %}
        {% endwith %}
    </div>
    <div class="recipe-middle">
        <div class="recipe-steps">
            <h1 class="box-middle">Steps</h1>
            {% for i in steps %}
                <li>{{i}}</li>
            {% endfor %}
        </div>
    </div>
    <div class="recipe-right">
        <div class="recipe-ingredients">
            <h1 class="box-middle">Ingredients</h1>
            {% for i in ingredents %}
                <li>{{i}}</li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}