{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Recipe {% endblock title %}

<!-- Recipe Content -->
{% block content %}

<div class="recipe--page">
    <div class="recipe-left">
        <div class="recipe">
            <div class="recipe--bottom">
                <h1 class="recipe-title">Pasta</h1>
                <h1 class="recipe-info">131 Calories/100g</h1>
            </div>
        </div>
    </div>
    <div class="recipe-middle">
        <div class="recipe-steps">
            
        </div>
    </div>
    <div class="recipe-right">
        <div class="recipe-ingredients">
            
        </div>
    </div>
</div>

{% endblock content %}